
/* TeamGrid.css */

body{
  padding-top: 5rem;
  /* padding-left: 5rem; */
  /* padding-right: 5rem; */
  font-family: 'georgia';
  justify-content: center;



}




.team-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  gap: 5rem;
  padding: 5rem;
  padding-top: 3rem;
  
}

.team-member {
  text-align: center;
  font-size: 0.8rem;
}

.team-member__image {
  width: 10rem;
  border-radius: 100%;
}

.team-member__name {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

.team-member__title {
  color: #666;
}

.team-member__title2 {
  font-size: 1rem;
  color: #C12872;
  font-weight: 500;

}
@media (max-width: 768px) {
  body{
      padding-top: 0;
      padding-left: 0;
  }
  .team-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
